#emailLabel,#senhaLabel {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    margin-bottom: 3px;
}


#emailLabel > span {    
    background: url("../../img/icons/icones-email.svg");
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: center;
    width: 26px;
    border: 5px #7e2ac2b6 solid;
    border-radius: 50px;
  }

  #senhaLabel > span {
    background: url("./img/icons/icones-password.svg");
    background-size: 22px;
    background-repeat: no-repeat;
    background-position: center;
    width: 26px;
  }