body {
    display: flex;
}
.login-wrap {
 display: block
}

#logo{
    display: flex;
    
}

#login-button {
    background-color: var(--orange);
}

.info-inputs {
    margin-top: 2em;
    text-align: center;
    width: 20em;
    height: 3em;
    border-radius: 5px 5px 5px 5px;
    display: grid;
    border: none
    
}


