* {

    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #96BDC0;
}


/*main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100vh;
} */

.container-login {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    max-width: 400px;
    padding: 20px;
    /*background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
}

.logotipo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

}

img {
    width: 347px;
    height: 351px;
    left: 21px;
    top: 0px;
    /*width: 100%;
    max-width: 200px;
    display: block;
    margin: 0 auto 20px;*/
}

.resumo_1 {
    margin-top: auto;
}

.resumo_1,
.resumo_2 {
    margin-bottom: 20px;
    font-family: cursive;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #050820;
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    box-sizing: border-box;
    width: 243px;
    height: 319px;
    left: 200px;
    background: rgba(74, 93, 148, 0.49);
    border: 2px solid #202E56;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

}

.formulario label,
.formulario input,
.formulario a,
.formulario button {
    margin-bottom: 10px;
}

.formulario input {
    max-width: 100%;
}

.desenvolvedoras {

    font-family: cursive;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #050820;

}

/*input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


label {
    display: block;
    margin-bottom: 5px;
}

/* Estilos para o botão de entrar */
/*button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
*/