/* :root{
    --bgColor: #30A2FF;
    --firstColor:   #0B0B44;
    --secondColor:  #f4f8fb; 
    --thirColor:    #db8625;    
   
} */

.register-conteiner {
    display: grid;   
    
   
}

html {
    text-align: center;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif ;
    color: var(--secondColor);
    box-sizing: border-box;
    display: flex;
    background-color: var(--bgColor);
    
}
body {
    padding: 5em    ;
}

.title  {
    font-size: 2.5em;
    margin-top: 1em;
}

.inputs-div  {
     margin-top: 2em;
}

.inputs-register{
    margin-top: 2em;
    text-align: center;
    width: 15em;
    height: 3em;
    border-radius: 5px 5px 5px 5px;
}

.register-btn {
    color: var(--secondColor);
    background-color: var(--orange);
    width: 16em;
    height: 3em;
    font-size: 1em;
    border-radius: 5px 5px 5px 5px;
    margin-top: 3em;
}

.register-btn:hover {
    color: var(--secondColor);
    background-color: rgb(231, 89, 37);
   
}


@media (max-width: 600px) {

    .inputs-register{
        margin-top: 3em;
        text-align: center;
        width: 10em;
        height: 3em;
        border-radius: 5px 5px 5px 5px;
    }
   
}