div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h2{
    color: var(--grey);
}

.logo-cs {
    max-width: 300px;
}
  
.logo-google {
    max-width: 30px;
}
  
input{
    width: 80%;
    padding: 8px;
    background-color: var(--medium-brown);
    border: none;
    border-radius: 5px;
}

::-webkit-input-placeholder{
	color: var(--light-white);
    font-family: 'Nunito Sans', sans-serif;
}

ul{
    color: var(--light-white);
}

.cadastro{
    width: 100%;
    display: flex;
    flex-direction: column;
    color: var(--light-white);
    gap: 8px;
}

fieldset {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: var(--intense-brown);
    box-shadow: 15px 17px 10px -7px var(--medium-brown);
    border: none;
    width: 300px;
    height: 400px;
    margin-bottom: 30px;
}

.botoes{
    display: flex;
    flex-direction: row;
    gap: 8px;
}

select{
    width: 85%;
    padding: 8px;
    background-color: var(--medium-brown);
    border: none;
    border-radius: 5px;
    color: var(--light-white);
    font-family: 'Nunito Sans', sans-serif;
    margin-top: 8px;
}