/* :root{
    --blue: #30A2FF;
    --lightblue: #AEE2FF;
    --orange: #E55807;
    --white: #ffffff;
    --black: #000000;
} */



.register-conteiner {
    display: grid;   
    
   
}

html {
    text-align: center;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif ;
    color: var(--white);
    box-sizing: border-box;
    display: flex;
    background-color: var(--blue);
    
}
body {
    padding: 5em    ;
}

.title  {
    font-size: 2.5em;
    margin-top: 1em;
}

.inputs-div  {
     margin-top: 2em;
}

.inputs-register{
    margin-top: 2em;
    text-align: center;
    width: 15em;
    height: 3em;
    border-radius: 5px 5px 5px 5px;
}

.register-btn {
    color: var(--white);
    background-color: var(--orange);
    width: 16em;
    height: 3em;
    font-size: 1em;
    border-radius: 5px 5px 5px 5px;
    margin-top: 3em;
}

.register-btn:hover {
    color: var(--white);
    background-color: rgb(234, 99, 50);
    width: 16em;
    height: 3em;
    font-size: 1em;
    border-radius: 5px 5px 5px 5px;
    margin-top: 3em;
}

.back-btn {
    color: var(--white);
    margin-top: 3.5em;
    background-color: rgb(234, 99, 50);
    width: 8em;
    height: 1.5em;
    font-size: 1em;
    border-radius: 5px 5px 5px 5px;
}


@media (max-width: 600px) {

    .inputs-register{
        margin-top: 3em;
        text-align: center;
        width: 10em;
        height: 3em;
        border-radius: 5px 5px 5px 5px;
    }
   
}