/*--bgColor: #30A2FF;
    --firstColor:  
    --white: #FFFFFF;
    --fontColor: #1d3c75;
    */


html {
    background-color: var(--bgColor);
    text-align: center;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif ;
    color: var(--fontColor);
    box-sizing: border-box;
    display: flex;
     
}

body {
    padding: 20px;
}

button {
    color: white;
    background-color: rgb(11, 11, 68);
    width: 130px;
    height: 30px;
    font-size: 14px;
    border-radius: 5px;
    margin-top: 50px;
}


@media (max-width: 768px) {


    button {
        font-size: 10px;
    }
}