* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*faz com que o navegador não calcule a dimensão de um elemento somando bordas e margens com altura e largura.*/
  font-family: "Roboto";
  /*font escolhida padrão no link*/
}

.btnRecuperarSenha {
  position: absolute;
  width: 22%;
  height: 4%;
  left: 64%;
  top: 850px;
  background: #b80c0c;
  border-radius: 10px;
  font-size: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #d9d9d9;
  box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
  display: inline-block;
  margin-top: -15%;
  border-color: #d9d9d9;
}

.btnVoltar {
  position: absolute;
  width: 15%;
  height: 3%;
  left: 67%;
  top: 850px;
  background: #d9d9d9;
  border-radius: 10px;
  font-size: center;
  font-family: "Roboto";
  font-style: large;
  font-weight: 500;
  font-size: 17px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #b80c0c;
  display: inline-block;
  margin-top: -6%;
  box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
}

.inserir_email3 {
  position: absolute;
  display: flex;
  width: 35%;
  left: 79%;
  transform: translate(-63%, 20%);
  height: 4%;
  top: 500px;
  background: #d9d9d9;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  font-size: medium;
  font-weight: 500;
  margin-top: 15%;
  border-color: #f5b81d;
}
