.container-login{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    max-width: 1200px;
    width: 100vw;
}

.container-img-entrar{
    align-items: center;
    background-color: var(--secondColor);
    border-radius: 10px 10px 50px 50px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 100%;
}

.container-img-entrar .img-mobile-version{
    height: 170px;
    width: 170px;
}

.text-desktop-version{
    display: none;
}

.img-desktop-version{
    display: none;
}

.container-img-entrar h1{
    font-weight: 300;
}

div.container-img-entrar h1, .form-login p{
    color: var(--white);
}

.form-login form{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-login form input{
    background-color: var(--bgColor);
    border: none;
    border-bottom: 2px solid #010006;
    color: var(--fontColorLogin);
    height: 45px;
    outline-color: none;
    width: 300px;
}

input[type=email]{outline:none}
input[type=password]{outline:none}

.form-login form input::placeholder{
    color: var(--fontColorLogin);
}

.form-login p{
    margin-top: 20px;
    text-align: center;
}

.login-icons{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.login-icons img{
    height: 40px;
    width: 40px;
}

.login-icons img:hover{
    cursor: pointer;
}

.btn-entrar{
    color: var(--secondColor);
    background-color: var(--white);
    border-radius: 20px;
    height: 45px;
    padding: 10px;
    width: 140px;
}

.btn-entrar:hover{
    background-color: var(--secondColor);
    color: var(--white);
    transition: .4s;
}

/* Responsive */

@media screen and (min-width: 1015px) {
    .container-login{
        display: flex;
        flex-direction: row;
        height: 100vh;
    }

    .container-img-entrar{
        background-color: var(--bgColor);
        height: 100%;
        justify-content: center;
    }

    .img-mobile-version{
        display: none;
    }

    .text-mobile-version{
        display: none;
    }

    .text-desktop-version{
        color: var(--white);
        display: block;
        font-weight: 300;
    }

    .container-img-entrar .img-desktop-version{
        display: block;
        height: 500px;
        width: 500px;
    }
}