* {
    margin: 0;
    padding: 0;
    
}

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
}

#csssuporte {
    background-color: #930909;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.mensagem-sos{
    margin: 50px 30px 0 30px;
    font-size: small;
}

@media (min-width: 375px) {
    .mensagem-sos{
        font-size: medium;
    }
}

@media (min-width: 768px) {
    .mensagem-sos{
        margin: 100px 30px 0 30px;
        font-size: large;
    }
}

@media (min-width: 1024px) {
    .mensagem-sos{
        margin: 100px 30px 0 30px;
        font-size: larger;
    }
}