* {
    margin: 0;
    padding: 0;
    
}

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
}

#csssuporte {
    background-color: #930909;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
#csssuporte > .mensagem-sos{
    color:black;
}