@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
/* paleta de cores
background #141627
First Color #A75EFD
Second color #6F69EF
Third color #678bfc
*/

/*
responsivo:
celular: 600px pra baixo
tablet: 600px ate 992px 
desktop: 992px ate 1015px 
TV: 1015px pra cima
*/

body {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  background: #141627;
  font-family: 'Lato', sans-serif;
  color: #fff;
}

.conteiner-register {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  max-width: 1200px;
  width: 100vw;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}
.register-top {
  text-align: center;
  background: #6F69EF;
  border-radius: 0 0 30px 30px;
  padding: 20px;
}

.register-image-mobile {
  height: 170px;
  width: 170px;
}

.register-box {
  margin-top: 20px;
}

.register-form {
  display: flex;
  flex-direction: column;
}

.register-form input {
  margin-bottom: 20px;
  background: transparent;
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0);
  color: rgb(247, 227, 255);
  padding: 10px;
  font-size: 16px;
  outline: none;
  width: 100%;
}

.btn-register {
  color: #6F69EF;
  background-color: #fff;
  border-radius: 20px;
  height: 45px;
  padding: 10px;
  width: 140px;
  margin: 0 auto;
}

.btn-register:disabled {
  background-color: #6F69EF;
  color: #fff;
  transition: .4s;
}

h2 {
  text-align: center;
  margin-top: 20px;
}

.register-icons {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.register-icons img {
  height: 40px;
  width: 40px;
}

.register-icons :hover {
  cursor: pointer;
}