@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
/* paleta de cores
background #141627
First Color #A75EFD
Second color #6F69EF
Third color #678bfc
*/

/*
responsivo:
celular: 600px pra baixo
tablet: 600px ate 992px 
desktop: 992px ate 1015px 
TV: 1015px pra cima
*/


.container-register {

  gap: 20px;
  max-width: 1200px;
  width: 100vw;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}
.register-top {
  align-items: center;
  background-color: #6F69EF;
  border-radius: 10px 10px 50px 50px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  width: 100%;
  
}
.register-top h1 {
  color: #fff;
  font-weight: 300;
}

.register-image-mobile {
  height: 170px;
  width: 170px;
}
.register-image-desktop{
  display: none;
}
.register-box {
  margin-top: 20px;
}
.register-box h1 {
  display: none;
}

.register-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.register-form input {
  background-color: var(--bgColor);
  border: none;
  border-bottom: 2px solid #010006;
  color: var(--fontColorLogin);
  height: 45px;
  outline-color: none;
  width: 300px;
}

.btn-register {
  color: #6F69EF;
  background-color:#fff ;
  border-radius: 20px;
  height: 45px;
  padding: 10px;
  width: 140px;
  margin: 0 auto;
  font-weight: 500;
  font-size: 20px;
}

.btn-register:disabled {
  color: #6F69EF;
  background-color:#fff ;
  transition: .4s;
}

.btn-register:enabled:hover{
  color:#fff ;
  background-color:#6F69EF ;
}

h2 {
  text-align: center;
  margin-top: 20px;
  color:#fff;
  font-weight: 300;
  font-size: 20px;
}

.register-icons {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.register-icons img {
  height: 40px;
  width: 40px;
}

.register-icons :hover {
  cursor: pointer;
}


/* Responsive */

@media screen and (min-width: 992px) {
  #main{
    display: flex;
    justify-content: center;
}

  .container-register{
  gap: 20px;
  display: flex;
  flex-direction: row;
  height: 100vh;
  justify-content: center;
  margin: 0 auto;
  }

  .register-top{
  background-color: var(--bgColor);
  height: 100%;
  justify-content: center;
  flex-direction: row;    
  gap: 20px;
  
  }

  .register-image-mobile {
  display: none;
  }

  .register-top, .register-image-desktop{
    display: block;
    height: 600px;
    width: 600px;
    margin: 0 auto;
    max-width: 100%; 
}

  .register-top h1{
  display: none;
  }

  .register-box h1{
  color: #010006;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  }
  .register-box h2{
    color: #010006;
  }
  .register-box {
  background-color: #fff;
  border-radius: 20px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 600px;
  width: 450px;
  }
  .register-form input{
  background-color: #fff;
  }
  .btn-register {
    color:#fff ;
    background-color: #6F69EF;
  }
  
  .btn-register:disabled {
    color:#fff ;
    background-color: #6F69EF;
  
  }
  
  .btn-register:enabled:hover{
    color:#6F69EF ;
    background-color:#fff ;
  }
}