/* ========MOBILE FIRST=========*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .mainPage {
    position: relative;
  }
  
  .bg {
    width: 100%;
    height: 35vh;
    border-radius: 0 0 20px 20px;
    object-fit: cover;
  }
  
  .logoW {
    position: absolute;
    top: -25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    z-index: 1;
    
  }
  
  .divSignIn {
    position: relative;
    width: 100%;
    max-width: 390px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    margin-top: -60px;
    border-radius: 10px;
    /*text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.427);*/
  }
  
  .introSignIn {
    margin-top: 20px;
    font-size: 1.8rem;
    margin-bottom: 35px;
    
  }
  
  .label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
  }
  
  .inputSignIn {
    width: 100%;
    margin-top: 5px;
    padding: 10px;
    padding-left: 40px;
    font-size: 14px;
    border-radius: 15px;
  }
  
  .inputGroup {
    position: relative;
  }
  
  .inputIcon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .material-icons {
    vertical-align: middle;
  }
  
  .btnSignIn,
  .btnRegister,
  .btnGoogle {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    border-radius: 15px;
    cursor: pointer;
  }
  
  .active {
    color: #fff;
    background: linear-gradient(to right, #4472c4, #ED7D31);
    backdrop-filter: blur(2px);
  }
  
  .img-google {
    width: 25px;
    vertical-align: middle;
    margin-right: 10px;
  }
  
  