@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

a {
  text-decoration: none;
}

#root {
  width: 100vw;
  height: 100vh;
  min-height: 100%;
}

main {
  display: flex;
  background-color: var(--BackcgroundColor);
  min-height: 100%;
  overflow: scroll;
}

.sidebar {
  width: 254px;
  background-color: var(--CorSecundaria);
  height: 100vh;
}

.menuIcon, #chec {
  display: none;
}

.tituloMenu {
  display: none;
}

.sidebar article {
  background-color: var(--TextColor);
  color: var(--CorSecundaria);
  display: flex;
  justify-content: center;
  align-items: center;
}

article h2 {
  font-size: 24px;
  width: 245px;
  height: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  display: flex;
  flex-direction: column;
  padding-top: 12px;
}

.nav-item > a {
  color: var(--TextColor);
  font-size: 24px;
  display: flex;
  align-items: center;
  width: 245px;
  height: 68px;
  padding-inline: 32px;
}

.nav-item:last-child {
  position: absolute;
  bottom: 0;
  left: 25px;
  list-style: none;
}

.nav-item:last-child > a {
  justify-content: center;
}

.nav-item img {
  width: 26px;
  height: 26px;
  margin-right: 12px;
} 

.feed {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100vh;
  align-items: center;
  padding: 12px;
}

.feed > img  {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 300px;
  height: 306px;
}

.card {
  width: 100%;
  background-color: var(--BackcgroundColorDark);
  padding: 12px;
  border-radius: 5px;
  max-width: 600px;
  
}

.card-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.card-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.card-avatar img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.card-user {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

.card-description{
  margin-top: 15px;
  text-align: left;
  line-height: 30px;
}

.card-restaurant{
  display: flex;
  flex-direction: row;
  gap: 4px;
  margin-right: 30px;
}

.card-likes {
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.post {
  display: none; /* Ocultar o modal, que será exibido com js */
  position: fixed; /* Posicionamento fixo */
  z-index: 1; /* Colocar o modal acima do conteúdo */
  left: 0;
  top: 0;
  width: 100%; /* Cobrir toda a largura */
  height: 100%; /* Cobrir toda a altura */
  overflow: auto; /* Permitir rolagem se o conteúdo for maior que a tela */
  background-color: rgba(0, 0, 0, 0.5);
}

.post-content {
  position: relative;
  background-color: #fefefe;
  top:90px;
  margin-right: 30px;
  left: 570px;
  padding: 10px;
  border: 1px solid #888;
  width: 80vw;
  max-height: 1000px;
  max-width: 620px;
  border-radius: 5px;
}

.boxExperience {
  background-color: var(--BackcgroundColorDark);
  padding: 12px;
  width: 100%;
  max-width: 604px;
  z-index: 1;
  height: 60px;
  border-radius: 5px;
}

.experience-button {
  border-radius: 10px;
  padding: 8px;
  width: 100%;
  margin-inline: 0;
  background-color: var(--BackcgroundColorLight);
  cursor: pointer;
  border: none;
  text-align: left;
}

.experience-button p {
  color: var(--TextColor);
  font-weight: 600;
}

/* Estilos para fechar o modal */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.photo {
  display: flex;
  margin-top: 5px;
}

.profilePicture {
  width: 50px;
  border-radius: 35px;
  margin-left: 20px;
}

.profileName {
  font-family: 'Prompt', sans-serif;
  padding: 10px 10px;
}

.formPost {
  display: flex;
  flex-direction: column;
}

.form-bottom {
  display: flex;
}

.inputContent {
  background-color: var(--BackcgroundColor);
  width: 95%;
  margin-left: 14px;
  height: 100px;
  padding: 6px;
  border-radius: 9px;
  margin-top: 10px;
  outline: 0;
  resize: none;
  border: none;
  overflow: none;
  
}

.profileRestaurant {
  font-family: 'Prompt', sans-serif;
  font-size: 0.9rem;
  margin-top: 20px;
  margin-left: 20px;
}

.img-location {
  width: 25px;
  height: 25px; 
  margin-top: 16px;
  margin-left: 12px;
}

.img-location-feed {
  width: 18px;
  height: 18px;
  
}

.card-actions {
  display: flex;
  gap: 8px;
}

.points-feed {
  width: 20px;
  height: 20px;
  position: relative;
  bottom: 20px;
  cursor: pointer;
}

.inputLocation {
  background-color: var(--BackcgroundColor);
  outline: 0;
  border: var(--BackcgroundColor);
  width: 100%;
  height: 30px;
  padding: 5px;
  border-radius:6px;
  margin-top: 15px;
  margin-left: 5px;
  resize: none;
  
}

.buttonPublish {
  background-color: var(--BackcgroundColor);
  width: 100%;
  height: 30px;
  margin-top: 15px;
  margin-bottom: 5px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.8rem;
  border: none;
  margin-left: 30px;
  margin-right: 13px;
}

.post-list{
  overflow: scroll;
  z-index: 1;
  -ms-overflow-style: none;
  scrollbar-width: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  margin-top: 18px;
}

.post-list::-webkit-scrollbar{
  display: none;
}

.card-likes img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.container {
  max-width: 1050px;
  width: 90%;
  margin: auto;
}

.navbar {
  width: 100%;
  box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
  background-color: #f9ab59;
  display: none;
}

.nav-container {
  display: block;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 60px;
}

.navbar .menu-items {
  padding-top: 120px;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
  height: 100vh;
  width: 100%;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  margin-left: -40px;
  padding-left: 50px;
  transition: transform 0.5s ease-in-out;
  text-align: center;
  background-color: #f9ab59;
}

.navbar .nav-container li {
  list-style: none;
}

.navbar .nav-container a {
  text-decoration: none;
  color: #2a2c41;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.7rem;
}

.navbar .nav-container a:hover {
  font-weight: bolder;
}

.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  left: 20px;
  z-index: 9999;
  opacity: 0;
  cursor: pointer;
}

.nav-container .hamburger-lines {
  height: 26px;
  width: 32px;
  position: absolute;
  top: 17px;
  z-index: 9998;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #f2f2f2;
}

.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.navbar .menu-items li {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  font-weight: 500;
} 

.nameHeader {
  position: absolute;
  top: 12px;
  margin-inline: 37%;
  width: 100%;
  font-size: 1.2rem;
  color: #f2f2f2;
}

.nav-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

.nav-container input[type="checkbox"]:checked ~ .nameHeader {
  display: none;
}


@media screen and (max-width: 1235px) {
  .post-content {
    left: 33%;
    width: 60vw;
    max-height: 600px;
  }
}

@media screen and (max-width: 890px) {
  .sidebar {
    width: 200px;
  }

  .navbar .menu-items {
    position: relative;
    z-index: 2;
  }
  
  article h2 {
    font-size: 1.2rem;
    width: 10vw;
    text-align: center;
  }
  
  .nav-item > a {
    font-size: 1.2rem;
    padding-inline: 25px;
  }
  
  .nav-item img {
    width: 23px;
    height: 23px;
    margin-right: 10px;
  }
  
  .card-avatar img {
    width: 40px;
    height: 40px;
  }
  
  .card-description{
    font-size: 0.9rem;
  }

  .card-restaurant{
    gap: 4px;
    margin-right: 20px;
    font-size: 0.8rem;
  }

  .card-likes {
    font-size: 0.8rem;
  }
  
  .post-content {
    left: 33%;
    width: 60vw;
    max-height: 500px;
  }

  .close {
    font-size: 1.5rem;
  }

  .profilePicture {
    width: 45px;
  }
  
  .profileName {
    font-size: 0.9rem;
    padding: 11px 10px;
  }
  
  .imgFeed {
    display: none;
  }

  .img-location {
    width: 20px;
    height: 20px; 
    margin-top: 20px;
  }

  .img-location-feed {
    width: 15px;
  }
  
  .points-feed {
    width: 16px;
    height: 16px;
    bottom: 15px;
  }
   
  .buttonPublish {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 730px) {
  header {
    background-color: var(--CorSecundaria);
  }
  
  .menuIcon {
    display: flex;
    position:absolute;
    width: 50px;
    height: 50px;
    cursor: pointer;
  }

  .tituloMenu{
    width: 100%;
    display: flex;
    justify-content: center;
    color: #fefefe;
    font-size: 1rem;
    padding: 15px 50px;
  }

  .sidebar {
    display: none;
  }

  .navbar {
    display: block;
  }

  .feed {
    margin: 30px 20px 0px 20px;
    bottom: 30px;
    height: 95vh;
  }
  
  .card-avatar img {
    width: 40px;
    height: 40px;
  }
  
  .card-description{
    font-size: 0.9rem;
  }

  .card-restaurant{
    margin-right: 20px;
    font-size: 0.8rem;
  }

  .card-likes {
    font-size: 0.8rem;
  }
  
  .post-content {
    left: 15%;
    width: 70vw;
    max-height: 500px;
  }

  .close {
    font-size: 1.5rem;
  }

  .inputContent {
    font-size: 0.8rem;
  }

  .inputLocation {
    font-size: 0.7rem;
    padding: 8px;
  }

  .profilePicture {
    width: 40px;
    height: 40px;
  }
  
  .profileName {
    font-size: 0.9rem;
    padding: 11px 10px;
  }
  
  .img-location {
    width: 15px;
    height: 20px; 
    margin-top: 20px;
  }
   
  .buttonPublish {
    font-size: 0.7rem;
  }

  .imgFeed {
    display: none;
  }
}

@media screen and (max-width: 552px) {
  header {
    width: 100vw;
  }
  
  .tituloMenu{
    align-items: center;
  }

  main {
    width: 100vw;
    height: 100vh;
    background-color: var(--BackcgroundColor);
  }

  .navbar {
    display: block;
  }
  
  .feed {
    margin: 30px 15px 0px 10px;
    bottom: 20px;
    height: 94vh;
  }

  .card-user {
    font-size: 0.9rem;
  }
  
  .post-content {
    left: 10%;
    width: 80vw;
  }

  .profilePicture {
    width: 45px;
  }
  
  .img-location {
    width: 15px;
    height: 20px; 
    margin-top: 20px;
  }

  .img-location-feed {
    width: 15px;
  }
  
  .points-feed {
    width: 16px;
    height: 16px;
    bottom: 15px;
  }

  .buttonPublish {
    font-size: 0.7rem;
  }

  .inputContent {
    margin-left: 10px;
    font-size: 0.8rem;
  }

  .imgFeed {
    display: none;
  }
}

@media screen and (max-width: 486px) {
  .feed {
    bottom: 20px;
    height: 110vh;
  }
  
  .nameHeader {
    font-size: 16px;
  }
  
  .navbar {
    display: block;
  }
  
  .post-content {
    left: 17%;
    width: 80vw;
  }
  
  .profileName {
    font-size: 0.9rem;
    padding: 11px 10px;
  }
}
