@keyframes entering {
    from { 
        opacity: 0;
        transform: translateY(-200px);}

    to { 
        opacity: 1;
        transform: translateY(0);    
    }
}

.container {
    display: grid;
    grid-template-areas:
      "top"
      "middle"
      "bottom";
    grid-template-rows: auto auto 1fr;
    animation: entering 0.7s ease-in-out;     
}

.left-timeline {
    grid-area: top;
    position: sticky;
    top: 0;
    z-index: 1;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-image: linear-gradient(var(--darkblue), 50%, var(--blue));
    padding: 0.5em;  
    
}

.img-timeline {
    grid-area: bottom;
    position: sticky;
    top: 100%;
    z-index: 2;
    width: 15em;
    margin-bottom: 0.4em;
}

.postTitle {
    font-weight: bold;
    color: var(--white);
    font-size: 0.9em;
    text-align: center;
}

.profilePhoto {
    width: 5em;
    border-radius: 50%;
}

.button-timeline {
    background-color: rgba(255, 253, 253, 0);
    border: none;
    margin-right: 1em;
    margin-left: 1em;
}

.right-timeline, .postList {
    grid-area: middle;
    position: sticky;
    bottom: 0;
    z-index: -1; 
    margin-top: 12em;
}



.input-container { 
    display: flex;
    flex-direction: column;
    width: 96%;
    padding: 1em;
    align-items: center;
    justify-content: center;
    border-radius: 0.8em;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--lightblue);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.input-message {
    min-height: 8em;
    border: none;
    text-align: center; 
    width: 98%;
    word-wrap: break-word;
    resize: vertical;
    font-family: 'Comfortaa', cursive;
    padding: 1.5em;
    font-size: 0.6em;
    font-weight: bold;
    border-radius: 0.8em;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.shareBtn {
    color: var(--white);
    background-color: var(--darkblue);
    width: 11em;
    height: 2em;
    border: none;
    border-radius: 0.5em;
    font-weight: bolder;
    letter-spacing: 0.08em;
    margin-top: 1em;
    font-size: 0.6em;
    text-shadow: -0.5px 0.5px 0 var(--black), 0.5px 0.5px 0 var(--black);
    font-family: 'Comfortaa', cursive;
}

.post-container {
    margin: 2em;
    padding: 1em;
    width: 96%;
    background-color: var(--lightblue);
    border-radius: 0.8em;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.9em;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

.nameUser {
    width: 94%;
    padding: 0.5em;
    border-radius:  0.8em 0.8em 0 0;
    background-color: var(--darkblue);
    color: var(--white);
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(var(--darkblue), var(--blue));
    font-weight: bold;
    letter-spacing: 0.07em;

}

.dataPost {
    font-size: 0.6em;

}
.textPost {
   background-color: var(--white);
   color: var(--black);
   width: 94%;
   padding: 1em;
   margin-left: auto;
   margin-right: auto;
   height: auto;
   word-wrap: break-word;
   border-radius:  0 0 0.8em 0.8em ;
   margin-bottom: 0.7em;
   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
   font-weight: bold;
   
}
.likePost {
    color: black;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    position: fixed;
    margin: 1.5em 0 0 0.4em;

}

.icon-timeline {
    text-align: center;
    color: var(--white); 
    width: 1.5em;
    margin: 1em 2em 0 2em;
    
}

a {
    text-decoration: none;
}

.icons {
    background-color: var(--lightblue);
    border: none;
    margin-bottom: 1em;
    width: 1.5em;

}
 .icon-timeline:hover{
    width: 45px;
 }

.icons:hover {
    background-color: var(--blue);
    border-radius: 0.8em;
    padding: 0.1em;
    width:auto;
    height: auto;

}
@media screen and (min-width: 768px) {
    ::-webkit-scrollbar{
        width: 0.5em;
    }
    
    ::-webkit-scrollbar-track {
        background-color: var(--lightblue) ;
        border: 0.1em solid var(--darkblue);
        border-radius: 0.3em;
    }
    
    ::-webkit-scrollbar-thumb {
        background-color: var(--blue);
        border: 0.1em solid var(--darkblue);
        border-radius: 0.3em;
    }
        
    .container {
        display: grid;
        grid-template-areas: "left right";
        grid-template-columns: 0.7fr 1.3fr;
        grid-template-rows:  100vh;
        line-height: 1.5;
        font-size: 1.2em;     
        background-image: linear-gradient(to right, var(--darkblue), var(--blue));
    }
    .profilePhoto{
        margin-bottom: 2em;
    }


    .img-timeline {
        position: fixed;
        left: 0;
        bottom: 0;
        transform: translate(5%, -105%);
    }
     
    .left-timeline {
        grid-area: left;  
        display: flex;
        align-items: center;
        justify-content: baseline ;
        flex-direction: column;
        background-image: none;
        text-align: justify;
        margin: 3em 2em;

    }
    
    .icon-timeline {
        font-size: 0.9em;  
        color: var(--white); 
        width: 3em;
        margin: 2em 2em 0 2em;
    }
    .icons {
        width: 2em;
    }
    .icones {
        margin-bottom: 5em;   
    }

    .right-timeline, .postList {
        grid-area: right; 
        overflow-y: scroll;
        border-left: solid var(--darkblue) 0.1em;
        box-shadow: inset 4px 0px 4px rgba(0, 0, 0, 0.25);
        z-index: 1;
        margin: 0.1em 0 1.5em 0;
    }

    .post-container {
        font-size: 0.8em;
    }
    
    .input-container {
    margin-top: 3em;
    margin-bottom: 4em;
    }
    
    .input-container, .post-container {
        width: 80%;
   }
}

