.timeline {
    display: block;
    position: relative;
    align-items: center;
    justify-content: center;
    line-height: 1.5;

}

.input-container { /*input e botao enviar*/
    display: flex;
    flex-direction: column;
    width: 25em;
    padding: 0.5em;
    background-color: var(--white);
    align-items: center;
    justify-content: center;
    border-radius: 0.8em;
    margin: 2em;

}
  

.input-message { /*input mensagem*/
    min-height: 8em;
    border: none;
    text-align: center; 
    width: 29em;
    word-wrap: break-word;
    resize: vertical;
    font-family: 'Comfortaa', cursive;
    padding: 1em;
}

.shareBtn { /* botão enviar*/
    color: var(--white);
    background-color: var(--blue);
    width: 11em;
    height: 2em;
    border: none;
    border-radius: 0.5em;
    font-weight: bolder;
    letter-spacing: 0.05em;
    margin-top: 1em;

}

.post-container {
    margin: 2em;
    padding: 1em;
    background-color: var(--lightblue);
    border-radius: 0.8em;
    align-items: center;
    justify-content: center;
  }

.nameUser {
    background-color: var(--darkblue);
    width: 22em;
    padding: 0.3em;
    margin: 10px 10px 0 10px;
    border-radius:  0.8em 0.8em 0 0;

}

.dataPost {
    font-size: 0.7em;

}
.textPost {
   background-color: var(--white);
   color: var(--black);
   width: 22em;
   padding: 1em;
   margin: 0 10px 10px 10px;
   height: auto;
   word-wrap: break-word;
   border-radius:  0 0 0.8em 0.8em ;
}

.icons {
    background-color: var(--lightblue);
    border: none;
}

.icons:hover {
    background-color: var(--blue);
    border-radius: 0.8em;
    padding: 0.1em;

}