@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;600&display=swap");

.container-home {
  margin: 0;
  padding: 0;
  background-image: url(../imagens/backgroundMob.png);
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  position: relative;
  background-size: cover;
  background-position: center;
}

.texto {
  color: #f6f2e2;
  text-align: center;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.img-CBD {
  width: 231px;
  height: 205px;
  background-size: cover;
  position: fixed;
  top: 17%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-shrink: 0; /* Alterei para flex-shrink: 0 para evitar encolhimento */
}

.container-h1 {
  width: 234px;
  height: 109px;
  display: flex; /* Adicionado display: flex para alinhar o h1 verticalmente */
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Adicionado align-items: center para alinhar o h1 horizontalmente */
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container-text {
  display: flex;
  width: 327px;
  height: 303px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: calc(
    55% + 109px
  ); /* Posiciona o container-text abaixo do container-h1 */
  left: 50%;
  transform: translate(-50%, -50%);
}

 .seta {
  color: rgb(255, 255, 255);
  font-size: 50px;
  flex-shrink: 0;
  position: absolute;
  bottom: 3%;
  right: 13%;
  cursor: pointer;
  text-decoration: none;
  /* position: fixed; */
} 


 @media screen and (min-width: 768px) {  /*tablet */
  .container-home {
    background-image: url(../imagens/CBDCNNCT-IMG/BGDESKTOP80.png);
  }

  .img-CBD {
    width: 379px;
    height: 379px;
    /* left: 20%;
    top: 30%; */
    top: 30%;
  }
 
  .container-h1 {
    width: 234px;
    height: 109px;
    /* left: 19.5%;
    top: 55%; */
    font-size: 30px;
    top: 55%;
  }
  
  .container-text {
    width: 500px;
    height: 440.539px;
    /* left: 19.5%;
    top: calc(
    65% + 109px
  ); */
  top: calc(
    65% + 109px
  );
    font-size: 28px;
  }
}

@media screen and (min-width: 992px) { /*laptops/desktops*/
  
}

@media screen and (min-width: 1200px) { /*large laptops*/

}