@import url("https://fonts.googleapis.com/css2?family=Prompt&family=Sunflower:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');


:root {
  --CorPrimaria: #ff4500;
  --CorSecundaria: #f9ab59;
  --CorTerciaria: #fff;
  --CorQuartenaria: #f2f2f2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Prompt", "Sunflower";
}

body {
  height: 100vh;
  width: 100vw;
  background-color: var(--CorTerciaria);
  overflow: hidden;
}

.backgroundTwo svg {
  width: 500px;
  height: 150px;
  background: var(--CorPrimaria);
  transform: matrix(4.94, -5.34, 6.8, 2.91, 5, 10);
}

.backgroundTwo .shape-fill {
  fill: var(--CorPrimaria);
}

.login-page {
  display: flex;
  align-items: center;
}

.imagemMap {
  display: none;
  position: absolute;
}

.imagemLogo {
  display: flex;
  width: 50vw;
  position: absolute;
  margin: 2px 70px;
}

.subtitulo {
  position: absolute;
  color: var(--CorTerciaria);
  font-size: 3rem;
  margin-top: -150px;
  margin-left: 20px;
}

.titulo {
  font-size: 2.5rem;
  color: var(--CorPrimaria);
  font-family: 'Nunito Sans', sans-serif;
}

.form {
  display: flex;
  position: absolute;
  max-width: 400px;
  margin-left: 67%;
  margin-top: 450px;
  padding: 45px;
  text-align: center;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 12px 0px rgba(28, 28, 28, 0.15);
  -moz-box-shadow: 0px 0px 12px 0px rgba(28, 28, 28, 0.15);
  box-shadow: 0px 0px 12px 0px rgba(28, 28, 28, 0.15);
  backdrop-filter: blur(2px);
}

.form input {
  font-family: "Poppins", sans-serif;
  outline: 0;
  background: var(--CorTerciaria);
  width: 100%;
  border: 0;
  margin: 16px 0px;
  padding: 6px 15px;
  font-size: 14px;
  border-bottom: 1px solid #bababa;
}

.form button {
  /*width: 90px;*/
  font-family: "prompt";
  background: var(--CorPrimaria);
  border: 0;
  padding: 10px 40px;
  justify-content: center;
  color: var(--CorTerciaria);
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;

}

.form button:hover,
.form button:active,
.form button:focus {
  background: var(--CorSecundaria);
  transition: 0.2s;
  cursor: pointer;
}

.logo {
  display: inline-block;
  width: 32px;
  cursor: pointer;
  margin-top: 5px;
}

.form .message {
  margin: 19px 0 0;
  color: var(--CorPrimaria);
  font-size: 12px;
}

.form .message a {
  font-weight: bold;
  color: var(--CorPrimaria);
  text-decoration: none;
}

.form .register-form {
  display: none;
}

.form .login-form {
  display: none;
}

.show {
  display: block !important;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}

.social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 18px;
}

.full-width {
  width: 100%;
}

@media screen and (max-width: 1015px) {}

@media screen and (max-width: 810px) {}

@media screen and (max-width: 670px) {}

@media screen and (max-width: 590px) {}

@media screen and (max-width: 470px) {
  .imagemMap {
    display: flex;
    position: absolute;
    width: 70vw;
    top: 5px;
    margin-left: 60px;
    transform: rotate(-4.39deg);
  }

  .imagemLogo {
    display: none;
  }

  .backgroundTwo svg {
    width: 300px;
    height: 110px;
    transform: matrix(1.94, -1.34, 1.42, 2.0, 5, 0);
  }

  .subtitulo {
    display: none;
    font-size: 1.2rem;
    color: #ff4500;
    bottom: 10px;
  }

  .form .titulo {
    font-size: 1.8rem;
  }

  .form {
    max-width: 380px;
    margin-left: 70px;
    bottom: -45px;
    padding: 30px;
  }

  .form input {
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin: 20px 2px;
    padding: 6px 15px;
    font-size: 14px;
    border-bottom: 1px solid #bababa;
  }

  .form button {
    width: 80px;
    padding: 10px 10px;
    font-size: 0.9em;
  }

  .logo {
    margin-right: 2px;
    gap: 5px;
    width: 32px;
    margin-top: 2px;
  }

  .form .message {
    margin: 19px 0 0;
    font-size: 0.7rem;
  }

  .buttons {
    gap: 25px;
  }

  .buttons .cadastrar {
    padding: 10px 2px;
  }

  .social {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 18px;
  }
}