 * {
 	margin: 0;
 }
header{
	display: flex;
	justify-content: space-between;
	text-align: center;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	padding: 5%;
}

.nome-usuario{
	color:#7C7C7C ;
	margin-top: 20%;
}
 .containerPostVerde {
 	width: 280px;
 	height: 200px;
 	flex-shrink: 0;
 	border-radius: 17px;
 	border: 1px solid #AEAEAE;
 	background: #CCDFD4;
 	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
 }

 .nomeTipo{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: 3%;
	margin-left: 10%;
 }

 .text-area {
 	width: 258px;
 	height: 101px;
 	flex-shrink: 0;
 	border-radius: 17px;
 	border: 1px solid #AEAEAE;
 	background: #EEF4F0;
 	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	margin-bottom: 2%;
 }

 .actionBtnPost{
	display: flex;
	justify-content: space-between;
	margin: 0 2%;
 }

 .btnPubli {
 	width: 124px;
 	height: 34px;
 	flex-shrink: 0;
 	border-radius: 17px;
 	border: 1px solid #CCDFD4;
 	background: #EEF4F0;
 	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

 }

 .filesPost{
	background: #CCDFD4;
	
 }

 .footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 10%;
  }

 .iconesFooter{
	cursor: pointer;
 }