html {
  width: 100vw;
  height: auto;
  min-height: 100vh;
}

.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.modal-content {
  text-align: center;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 75%;
  max-width: 600px;
  border-radius: 10px;
  position: relative;
}

input {
  text-align: center;
  margin: 20px 10px 10px 10px;
}

textarea {
  background-color: #d9d9d9;
  border-radius: 10px;
  resize: vertical;
  box-sizing: border-box;
  width: 100%;
}

.container-confirm{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  height: 100%;
}

.publicar,
.editar {
  background: rgba(238, 238, 238, 0.933333);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: black;
  padding: 10px 30px;
  border-radius: 10px;
  text-decoration: none;
  border: none;
  display: end;
  margin: 0 auto;
}

.fechar {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

button {
  background: rgba(238, 238, 238, 0.933333);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: black;
  padding: 10px 30px 10px 30px;
  border-radius: 10px;
  text-decoration: none;
  border: none;
  margin-top: 10px;
  width: fit-content;
  justify-self: flex-start;
}

button:hover {
  background: #d9d9d9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: scale(1.05);
}

.container-post {
  padding: 20px;
  margin: 20px;
  width: 70vw;
  max-width: 900px;
  background-color: #eeeeee;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}


.feed-header {
  margin: 30px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 100%;
}
.boas-vindas {
  font-size: 1.3rem;
}
#btn-logout {
  width: 20px;
  height: 20px;
  margin-top: 25px;
  margin-left: 10px;
}
#btn-logout:hover {
  transform: scale(1.2);
}

#logo-repet-feed {
  width: 100px;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
}

.logo-sair-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
}
.user-icon {
  width: 20px;
  height: 20px;
  margin-top: 25px;
  margin-right: 10px;
}
.icon-welcome {
  display: flex;
}
.post-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 20px;
  padding: 0;
}
.user-location {
  align-self: flex-end;
  font-weight: lighter;
  font-size: 1rem;
  text-align: right;
}

.adopt-option {
  font-weight: 700;
  background-color: rgba(101, 202, 213, 1);
  font-size: 1.1rem;
  width: 130px;
  margin-bottom: 10px;
  color: #1d1c1c;
  border-radius: 5px;
  text-align: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding: 2px;
}

.post-inputs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.modal-input {
  background-color: rgba(255, 227, 87, 1);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 5px;
  margin: 5px 10px 5px 0px;
  padding: 4px;
}

.label-class {
  font-size: 0.8rem;
}

.modal-input-area {
  font-size: 0.8rem;
}

.container-msg * {
  background-color: #d9d9d9;
  border-radius: 10px;
  resize: vertical;
  box-sizing: border-box;
  width: 100%;
  height: 100px;
  padding: 5px;
}

.error-border {
  border: 1px solid red;
}

.mensagem-erro {
  color: red;
  font-size: 10px;
  margin-top: 0px;
}

.modal-input-area.error-border {
  border: 1px solid red;
}

.icon-container {
  display: flex;
  align-items: center;
}

.material-icons {
  cursor: default;
  margin: 0 5px;
}

.material-icons:hover {
  transform: scale(1.2);
}
.like-counter {
  font-size: 1.0rem;
  margin-left: 10px;
}

