.container-feed{
    width: 100%; 
}

.header{
    background-color: var(--secondColor);
    display: flex;
    padding: 17px 10px;
    width: 100%;
}

.hamburger-menu .icon-menu{
    height: 30px;
    position: absolute;
    left: 10px;
    width: 30px;
}

.header h1{
    color: var(--white);
    font-weight: 300;
}

.title-menu {
    display: flex;
    justify-content: center;
    width: 100%;
}

.main{
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%; 
    max-width: 1200px;
}

.menu-nav{
    background-color: var(--bgColor);
    display: block;
    position: fixed;
    top: 63px;
    left: 0;
    bottom: 0;
    width: 180px;
}

li {
    margin-top: 20px;
    padding: 10px;
}

a {
    align-items: center;
    color: var(--white);
    display: flex;
    flex-direction: column;
    font-weight: 300;
    justify-content: center;
    list-style: none;
    text-decoration: none;
    width: 100%;
}

.container-input-post{
    background-color: var(--bgInputPost);
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 10px;
    width: 95%;
}

.container-input-post, #user-text-area{
    border-radius: 10px;
} 

#user-text-area{
    border: 0px;
    font-size: 20px;
    height: 100px;
    outline-color: var(--secondColor);
    padding: 10px 10px 0px;
    text-align: center;
}

#user-text-area::placeholder{
    color: #00000081;
}

.div-btn-publish{
    display: flex;
    justify-content: end;
}

.btn-publish{
    background-color: var(--white);
    border: solid 1px var(--secondColor);
    border-radius: 20px;
    color: var(--secondColor);
    font-size: 18px;
    height: 40px;
    margin-top: 20px;
    width: 50%;
}

.post-container {
    width: 500px;
    height: 180px;
    background: #ECF0FF;
    border-radius: 10px;
    margin-top: 20px;
  }

  .post-header {
    width: 500px;
    height: 40px;
    background: #6F69EF;
    border-radius: 10px 10px 0px 0px;
    font-family: Lato;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    color: #FFFFFF;
    padding: 5px;
  }

  .post-content {
    width: 95%;
    height: 70px;
    background: #FFFFFF;
    border-radius: 10px;
    margin:10px;
    padding: 5px;
  }
  
  .post-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: -20px;
    margin-right: 10px;
  }
  
  .edit-btn img,
  .delete-btn img {
    width: 22px;
    height: 22px;
    margin-left: 5px;
    cursor: pointer;
  }
  
  .post-likes img {
    width: 22px;
    height: 22px;
    margin-right: 5px;
  }