* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.rodape {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    width: 100%;
}
.logo {
    display: flex;
    width: 400px;
    height:100 ;
    left:1100px ;
}

.etiqueta {
    display: flex;
    width: 400px;
    height: 600px;
    left: 1050px;
    top: 200px;

}
h2{
    display: flex;
    width: 227px;
    height: 98px;
    left: 1130px;
    top: 354px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #F5B81D;
}
.inserir_nome {
    display: flex;
    width: 300px;
    height: 50px;
    left: 1090px;
    top: 500px;
    background: #D9D9D9;
    border-radius: 10px;
    cursor: pointer;
}
.inserir_email {
    display: flex;
    width: 300px;
    height: 50px;
    left: 1090px;
    top: 500px;
    background: #D9D9D9;
    border-radius: 10px;
    cursor: pointer;
}
.digite_senha {
    display: flex;
    width: 300px;
    height: 50px;
    left: 1090px;
    top: 580px;
    background: #D9D9D9;
    border-radius: 10px;
    cursor: pointer;
}
.confirma_senha {
   display: flex;
    width: 300px;
    height: 50px;
    left: 1090px;
    top: 580px;
    background: #D9D9D9;
    border-radius: 10px;
    cursor: pointer;
}
.btnCadastrar{
    display: flex;
    width: 300px;
    height: 50px;
    left: 1090px;
    top: 700px;
    background: #D9D9D9;
    border-radius: 10px;
    cursor: pointer;
}
input::placeholder {
    text-align: center;
     color:black;
     font-size: medium;
 }
#btnGoogle {
    height: 30px;
    width: 150px;
    border-radius: 10px;
}*/