* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*faz com que o navegador não calcule a dimensão de um elemento somando bordas e margens com altura e largura.*/
    font-family: 'Roboto';
    /*font escolhida padrão no link*/
}

 .inserir_nome {
    position: absolute;
    display: flex;
    width: 32%;
    left: 78%; 
    transform: translate(-63%, 20%);
    height: 3%;
    top: 500px;
    background: #D9D9D9;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    font-size: medium;
    font-weight: 500;
    margin-top: 12%;
    border-color: #F5B81D;
 }
 
.inserir_email2 {
    position: absolute;
    display: flex;
    width: 32%;
    left: 78%; 
    transform: translate(-63%, 20%);
    height: 3%;
    top: 500px;
    background: #D9D9D9;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    font-size: medium;
    font-weight: 500;
    margin-top: 17%;
    border-color: #F5B81D;
}

.digite_senha2 {
    position: absolute;
    display: flex;
    width: 32%;
    left: 78%; 
    transform: translate(-63%, 20%);
    height: 3%;
    top: 500px;
    background: #D9D9D9;
    border-radius: 10px;
    display: flex;
    cursor: pointer;
    text-align: center;
    font-size: medium;
    font-weight: 500;
    margin-top: 22%;
    border-color: #F5B81D;
}

.confirma_senha {
    position: absolute;
    display: flex;
    width: 32%;
    left: 78%; 
    transform: translate(-63%, 20%);
    height: 3%;
    top: 500px;
    background: #D9D9D9;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    font-size: medium;
    font-weight: 500;
    margin-top: 27%;
    border-color: #F5B81D;
}

.btnRecuperar {
    margin-left: 700px;
    cursor: pointer;
    font-size: small;
    
}

.btnCadastrar2 {
    position: absolute;
    width: 32%;
    height: 4%;
    left: 58%;
    top: 850px;
    border-radius: 10px;
    font-size: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    letter-spacing: 0.02em;
    color:#F5B81D;
    display: inline-block;
    margin-top: 10%; 
    background-color: black;
    cursor: pointer;
    box-shadow: -2px 3px 0#F5B81D;
}