
html {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
}
body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  background-image: linear-gradient(to top, #86c0ca, #008da1);
}
main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.section-logo img {
  width: 130px;
}

h2 {
  font-family: 'Amatic SC', cursive;
  font-size: 40px;
}

.text-title {
  font-family: 'Amatic SC', cursive;
  font-size: 25px;
  color: #fff;
}




.customAlert {
  position: fixed;
  bottom: 20px;
  background-color: #33333355;
  color: #fff;
  padding: 12px 20px;
  border-radius: 4px;
}

footer {
 margin: 0;
  font-family: 'arial', cursive;
  font-size: 10px;
  color: #000;
}
