:root {
    /*paleta de cores */
    --blue: #30A2FF;
    --lightblue: #AEE2FF;
    --orange: #E55807;
    --white: #ffffff;
    --black: #000000;
    --red: #e24242;
  }

* {
  margin: 0;
  padding: 0;
}

.title,
.title1 {
  font-family: 'Comfortaa', cursive;
}


body {
  background-color: var(--blue);
  display: flex;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.error-message {
  color: var(--red);
  font-style: italic;
  margin: 6px;
}

footer {
  color: var(--black);
  background-color: var(--white);
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2.5rem;  
  text-align: center;
} 

