@import url('https://fonts.googleapis.com/css2?family=Prompt&family=Sunflower:wght@700&display=swap');

:root {
    --CorPrimaria: #FF4500;
    --CorSecundaria: #F9AB59;
    --CorTerciaria: #FFF;
    --CorQuartenaria: #F2F2F2;
}
