* {
    box-sizing: border-box;
}

html{
width: 100%;
height: 100%;
color:#96A7AF;
background-color: #243645;
}

body{
text-align: center;
margin: 0%;
max-width: 100%;
max-height: 100%;
justify-content: center;
}

header{
width: 100%;
text-align: center;
}

.logo{
max-width: 200px;
}

fieldset{
    border: none;
}

.btn{
cursor: pointer;
background-color: #5FEA4B;
color:white;
border:none;
border-radius: 10px;
max-width: 300px;
width: 100%;
padding: 20px;
margin: 5px 0;
}

.btn-escuro{
    background-color: #317e25d5;
}

.btn-transparente{
background-color: transparent;
}

#login{
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: hidden;
}

#login > div::before, #login > div::after {
    content: '';
    margin: auto;
}

#login > div{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

#login > div::-webkit-scrollbar{
    display: none;
}

#loginBackground{
    background-image: url("./img/login_background.png");
    background-size: cover;
    background-position: center;
}

@media screen and (max-width: 800px){
#login{
    flex-wrap: wrap;
}
#login > div:first-child{
    display: none;
}
}

#email,#senha,#nome,#usuario, input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
    background: transparent;
    max-width: 300px;
    width: 100%;
    font-size: 15px;
    color: white;
    border: none;
    border-bottom: 1px #5FEA4B solid;
    -webkit-text-fill-color: white;
    -webkit-box-shadow: none;
    transition: background-color 600000s 0s, color 600000s 0s;
}

#errorMessage{
color:#F68D10;
font-size: 20px;
}

ul {
    list-style-type: none;
}